* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1.content-h1 {
  font-size: 1.5rem;
  padding: 1em;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  color: #286152;
}

h2.content-h2 {
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5;
  padding: 0 1.5em 1.5em 1.5em;
  width: 100%;
  text-align: center;
  color: #666;
}

body {
  font-family: sans-serif;
  min-height: 200vh;
}

.preupload {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  background-color: #286152;
  -webkit-animation: loadended 1s forwards;
          animation: loadended 1s forwards;
  overflow: hidden;
  z-index: 99;
}

.bounce1 {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: changesize 1s linear;
          animation: changesize 1s linear;
}

.bounce2 {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  opacity: .5;
  animation: changesize 1s linear reverse;
}

@-webkit-keyframes changesize {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
}

@keyframes changesize {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
}

@-webkit-keyframes loadended {
  0% {
    height: 100vh;
    visibility: visible;
  }
  99% {
    visibility: visible;
    height: 100vh;
  }
  100% {
    visibility: hidden;
    height: 0;
  }
}

@keyframes loadended {
  0% {
    height: 100vh;
    visibility: visible;
  }
  99% {
    visibility: visible;
    height: 100vh;
  }
  100% {
    visibility: hidden;
    height: 0;
  }
}

.main-nav {
  position: fixed;
  min-height: 12vh;
  height: 15vh;
  top: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(transparent));
  background: linear-gradient(#fff, transparent);
  z-index: 10;
  -webkit-transition: .3s;
  transition: .3s;
}

.main-nav .logo {
  position: absolute;
  top: 50%;
  left: 15%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: block;
  font-size: 35px;
  letter-spacing: 3px;
  color: #286152;
}

.main-nav .burger {
  position: absolute;
  top: 50%;
  right: 15%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 25px;
  background-color: #286152;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: white;
}

.main-nav .main-nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #286152;
  position: absolute;
  width: 100%;
  top: 15vh;
  left: 110%;
  height: 85vh;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  overflow: hidden;
}

.main-nav .main-nav-ul li {
  list-style-type: none;
  text-align: center;
  height: calc(85vh / 7);
}

.main-nav .main-nav-ul li a {
  height: 100%;
  line-height: calc(85vh / 7);
  font-size: 25px;
  margin: 0;
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.main-nav .main-nav-ul li a:active {
  color: #286152;
  background-color: #fff;
}

.main-nav-ul.active-hamburger {
  left: 0;
}

.turned-off {
  display: none !important;
}

.scrolled {
  font-size: 50px;
}

.main-header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 350px;
  background: rgba(0, 0, 0, 0.5) url(../img/header-1.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  -webkit-animation: switch-header 8s linear infinite;
          animation: switch-header 8s linear infinite;
}

.main-header > * {
  position: absolute;
  width: 100%;
}

.main-header h1 {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 400;
  padding: 0 10x;
}

.main-header h2 {
  top: 62%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  padding: 0 10px;
}

.main-header button.learnmore {
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 40px;
  text-transform: capitalize;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.main-header button.learnmore:active {
  background-color: #286152;
  border-color: #286152;
}

@-webkit-keyframes switch-header {
  0% {
    opacity: 0;
  }
  7.5% {
    background: rgba(0, 0, 0, 0.5) url(../img/header-1.jpg);
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
  42.5% {
    background: rgba(0, 0, 0, 0.5) url(../img/header-1.jpg);
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  57.5% {
    background: rgba(0, 0, 0, 0.5) url(../img/header-2.jpg);
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
  92.5% {
    background: rgba(0, 0, 0, 0.5) url(../img/header-2.jpg);
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes switch-header {
  0% {
    opacity: 0;
  }
  7.5% {
    background: rgba(0, 0, 0, 0.5) url(../img/header-1.jpg);
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
  42.5% {
    background: rgba(0, 0, 0, 0.5) url(../img/header-1.jpg);
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  57.5% {
    background: rgba(0, 0, 0, 0.5) url(../img/header-2.jpg);
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
  92.5% {
    background: rgba(0, 0, 0, 0.5) url(../img/header-2.jpg);
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

article.why-us {
  font-size: 16px;
  padding: 1em;
}

article.why-us > p:nth-child(3) {
  font-weight: 500;
  padding-bottom: 1em;
  line-height: 1.5em;
}

article.why-us > p:nth-child(4),
article.why-us > p:nth-child(5) {
  font-weight: normal;
  line-height: 1.5em;
  padding-bottom: 1em;
  color: #666;
}

.percent-bars {
  width: 100%;
}

.percent-bars .percent-bar {
  width: 75%;
  height: 80px;
  margin: 5px auto;
}

.percent-bars .percent-bar p {
  text-transform: uppercase;
  font-size: .8em;
  padding: 5px;
}

.percent-bars .percent-bar .whole-bar {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  position: relative;
}

.percent-bars .percent-bar .whole-bar .percent-value {
  height: inherit;
  background-color: #286152;
}

.percent-bars .percent-bar .whole-bar .percent-nr {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #286152;
  text-align: center;
  font-size: 10px;
  line-height: 35px;
  color: white;
}

.firstbar .percent-value {
  width: 85%;
}

.firstbar .percent-nr {
  left: 85%;
}

.secondbar .percent-value {
  width: 100%;
}

.secondbar .percent-nr {
  left: 100%;
}

.thirdbar .percent-value {
  width: 75%;
}

.thirdbar .percent-nr {
  left: 75%;
}

.forthbar .percent-value {
  width: 60%;
}

.forthbar .percent-nr {
  left: 60%;
}

.our-services {
  padding: 1em;
}

.our-services .our-service:nth-of-type(1) i,
.our-services .our-service:nth-of-type(2) i {
  font-size: 3em;
}

.our-services .our-service {
  height: 120px;
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.our-services .our-service i {
  font-size: 2.5em;
  background: -webkit-linear-gradient(#286152, red);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 40%;
  margin: 5px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.our-services .our-service h3 {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 1px;
  padding: 1em 0 .5em 1.5em;
}

.our-services .our-service p {
  font-size: .9em;
  color: #666;
  line-height: 1.4;
}

.our-services .our-service i:active {
  -webkit-transform: rotateX(360deg);
          transform: rotateX(360deg);
}

.our-work {
  background-color: #eee;
  overflow: hidden;
}

.our-work .our-work-options {
  margin: 0 auto;
  width: 90%;
}

.our-work .our-work-options ul {
  min-height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.our-work .our-work-options ul li {
  list-style: none;
}

.our-work .our-work-options ul li a {
  display: block;
  padding: 10px 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #666;
  background-color: #fff;
  border: 1px solid #dddddd;
}

.our-work .our-work-img-container {
  width: 95%;
  margin: 0 auto;
}

.our-work .our-work-img-container .our-work-single-img {
  overflow: hidden;
  width: 90%;
  margin: 20px auto;
  position: relative;
  background-color: transparent;
}

.our-work .our-work-img-container .our-work-single-img img {
  width: 100%;
}

.our-work .our-work-img-container .our-work-single-img button {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  background-color: #286152;
  color: white;
  z-index: 3;
  font-size: 1.3em;
  text-align: center;
  opacity: 0;
}

.our-work .our-work-img-container .our-work-single-img .img-title {
  position: absolute;
  top: 0;
  left: -100%;
  text-align: center;
  padding-top: 20%;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  z-index: 2;
}

.our-work .our-work-img-container .our-work-single-img .img-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: capitalize;
  color: white;
  z-index: 2;
  opacity: 0;
}

.our-work .our-work-img-container .our-work-single-img .animation-feature {
  position: absolute;
  top: 0;
  left: 130%;
  width: 70%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  border: 3px solid #286152;
  -webkit-transform: skew(35deg);
          transform: skew(35deg);
}

@-webkit-keyframes focusing {
  0% {
  }
  100% {
  }
}

@keyframes focusing {
  0% {
  }
  100% {
  }
}
/*# sourceMappingURL=style.css.map */