* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 200vh;
}

.preupload {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  background-color: #286152;
  -webkit-animation: loadended 1s forwards;
          animation: loadended 1s forwards;
  overflow: hidden;
  z-index: 99;
}

.bounce1 {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: changesize 1s linear;
          animation: changesize 1s linear;
}

.bounce2 {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  opacity: .5;
  animation: changesize 1s linear reverse;
}

@-webkit-keyframes changesize {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
}

@keyframes changesize {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
}

@-webkit-keyframes loadended {
  0% {
    height: 100vh;
    visibility: visible;
  }
  99% {
    visibility: visible;
    height: 100vh;
  }
  100% {
    visibility: hidden;
    height: 0;
  }
}

@keyframes loadended {
  0% {
    height: 100vh;
    visibility: visible;
  }
  99% {
    visibility: visible;
    height: 100vh;
  }
  100% {
    visibility: hidden;
    height: 0;
  }
}

.main-nav {
  position: fixed;
  min-height: 12vh;
  height: 15vh;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 10;
}

.main-nav .logo {
  position: absolute;
  top: 50%;
  left: 15%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: block;
  font-size: 35px;
  letter-spacing: 3px;
  color: #286152;
}

.main-nav .burger {
  position: absolute;
  top: 50%;
  right: 15%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 25px;
  background-color: #286152;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: white;
}

.main-nav .main-nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  background-color: #286152;
  position: absolute;
  width: 100%;
  top: 15vh;
  left: 110%;
  height: 85vh;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  overflow: hidden;
}

.main-nav .main-nav-ul li {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.main-nav .main-nav-ul li a {
  font-size: 25px;
  font-weight: ligher;
  margin: 0;
  padding: 4px 0 4px 5px;
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  color: #fff;
}

.main-nav .main-nav-ul li a:active {
  background-color: #286152;
}

.main-nav-ul.active-hamburger {
  left: 0;
}

.turned-off {
  display: none;
}

.scrolled {
  font-size: 50px;
}

.main-header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 350px;
  background: rgba(0, 0, 0, 0.5) url(../img/header-1.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  -webkit-animation: switch-header 8s linear infinite;
          animation: switch-header 8s linear infinite;
}

.main-header > * {
  position: absolute;
  width: 100%;
}

.main-header h1 {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}

.main-header h2 {
  top: 62%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
}

.main-header button.learnmore {
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 40px;
  text-transform: capitalize;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.main-header button.learnmore:active {
  background-color: #286152;
  border-color: #286152;
}

@-webkit-keyframes switch-header {
  0% {
    opacity: 0;
  }
  7.5% {
    background: rgba(0, 0, 0, 0.5) url(../img/header-1.jpg);
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
  42.5% {
    background: rgba(0, 0, 0, 0.5) url(../img/header-1.jpg);
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  57.5% {
    background: rgba(0, 0, 0, 0.5) url(../img/header-2.jpg);
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
  92.5% {
    background: rgba(0, 0, 0, 0.5) url(../img/header-2.jpg);
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes switch-header {
  0% {
    opacity: 0;
  }
  7.5% {
    background: rgba(0, 0, 0, 0.5) url(../img/header-1.jpg);
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
  42.5% {
    background: rgba(0, 0, 0, 0.5) url(../img/header-1.jpg);
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  57.5% {
    background: rgba(0, 0, 0, 0.5) url(../img/header-2.jpg);
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
  92.5% {
    background: rgba(0, 0, 0, 0.5) url(../img/header-2.jpg);
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.percent-bars {
  width: 100%;
}

.percent-bars .percent-bar {
  width: 90%;
  height: 80px;
  margin: 5px auto;
}

.percent-bars .percent-bar p {
  text-transform: uppercase;
  font-size: 10px;
  padding: 5px;
}

.percent-bars .percent-bar .whole-bar {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  position: relative;
}

.percent-bars .percent-bar .whole-bar .percent-value {
  width: 85%;
  height: inherit;
  background-color: #286152;
}

.percent-bars .percent-bar .whole-bar .percent-nr {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 85%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #286152;
  text-align: center;
  font-size: 10px;
  line-height: 30px;
  color: white;
}
/*# sourceMappingURL=style.css.map */