* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

h1.content-h1 {
  font-size: 1.5rem;
  padding: 1em;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  color: #286152;
  margin-top: 30px;
}

h2.content-h2 {
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5;
  padding: 0 1.5em 1.5em 1.5em;
  width: 100%;
  text-align: center;
  color: #666;
}

@media (max-width: 768px) and (orientation: landscape) {
  h1.content-h1 {
    font-size: 1.3rem;
  }
  h2.content-h2 {
    font-size: .9rem;
  }
}

#header, #services, #works, #team, #testimonials, #blog {
  padding-top: 50px;
}

#contact {
  padding-top: 100px;
}

body {
  font-family: sans-serif;
  min-height: 200vh;
}

.preupload {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  background-color: #286152;
  -webkit-animation: loadended 1s forwards;
          animation: loadended 1s forwards;
  overflow: hidden;
  z-index: 99;
}

.bounce1 {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: changesize 1s linear;
          animation: changesize 1s linear;
}

.bounce2 {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  opacity: .5;
  animation: changesize 1s linear reverse;
}

@-webkit-keyframes changesize {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
}

@keyframes changesize {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
}

@-webkit-keyframes loadended {
  0% {
    height: 100vh;
    visibility: visible;
  }
  99% {
    visibility: visible;
    height: 100vh;
  }
  100% {
    visibility: hidden;
    height: 0;
  }
}

@keyframes loadended {
  0% {
    height: 100vh;
    visibility: visible;
  }
  99% {
    visibility: visible;
    height: 100vh;
  }
  100% {
    visibility: hidden;
    height: 0;
  }
}

.main-nav {
  position: fixed;
  min-height: 12vh;
  height: 15vh;
  top: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(transparent));
  background: linear-gradient(#fff, transparent);
  z-index: 10;
  -webkit-transition: .3s;
  transition: .3s;
}

.main-nav .logo {
  position: absolute;
  top: 50%;
  left: 15%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: block;
  font-size: 35px;
  letter-spacing: 3px;
  color: #286152;
}

.main-nav .burger {
  position: absolute;
  top: 50%;
  right: 15%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 25px;
  background-color: #286152;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: white;
}

.main-nav .main-nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #286152;
  position: absolute;
  width: 100%;
  top: 15vh;
  left: 110%;
  height: 85vh;
  -webkit-transition: 0.3s cubic-bezier(0.19, 0.24, 0.36, 0.77);
  transition: 0.3s cubic-bezier(0.19, 0.24, 0.36, 0.77);
  overflow: hidden;
}

.main-nav .main-nav-ul li {
  list-style-type: none;
  text-align: center;
  height: calc(85vh / 7);
}

.main-nav .main-nav-ul li a {
  height: 100%;
  line-height: calc(85vh / 7);
  font-size: 25px;
  margin: 0;
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.main-nav .main-nav-ul li a:active {
  color: #286152;
  background-color: #fff;
}

.main-nav-ul.active-hamburger {
  left: 0;
}

.turned-off {
  display: none !important;
}

.scrolled {
  font-size: 50px;
}

.main-header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 350px;
  background: rgba(0, 0, 0, 0.5) url(../img/header-1.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  -webkit-transition: .4s;
  transition: .4s;
}

.main-header > * {
  position: absolute;
  width: 100%;
}

.main-header h1 {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 400;
  padding: 0 10x;
}

.main-header h2 {
  top: 62%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  padding: 0 10px;
}

.main-header button.learnmore {
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 40px;
  text-transform: capitalize;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.main-header button.learnmore:active {
  background-color: #286152;
  border-color: #286152;
}

@-webkit-keyframes switch-header {
  0% {
    opacity: 0;
  }
  7.5% {
    background: rgba(0, 0, 0, 0.5) url(../img/header-1.jpg);
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
  42.5% {
    background: rgba(0, 0, 0, 0.5) url(../img/header-1.jpg);
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  57.5% {
    background: rgba(0, 0, 0, 0.5) url(../img/header-2.jpg);
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
  92.5% {
    background: rgba(0, 0, 0, 0.5) url(../img/header-2.jpg);
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes switch-header {
  0% {
    opacity: 0;
  }
  7.5% {
    background: rgba(0, 0, 0, 0.5) url(../img/header-1.jpg);
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
  42.5% {
    background: rgba(0, 0, 0, 0.5) url(../img/header-1.jpg);
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  57.5% {
    background: rgba(0, 0, 0, 0.5) url(../img/header-2.jpg);
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
  92.5% {
    background: rgba(0, 0, 0, 0.5) url(../img/header-2.jpg);
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (orientation: landscape) {
  .main-nav {
    height: 25vh;
  }
  .main-nav .burger {
    right: 15%;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .main-nav .main-nav-ul {
    top: 0;
    left: 110%;
    width: 30%;
    height: 100vh;
  }
  .main-nav .main-nav-ul li {
    height: calc(100vh / 7);
  }
  .main-nav .main-nav-ul li a {
    font-size: 20px;
  }
  .main-nav-ul.active-hamburger {
    left: 70%;
  }
  .burger.active-hamburger {
    right: 27%;
  }
}

@media (min-width: 768px) {
  .main-nav {
    height: 15vh;
  }
  .main-nav .logo {
    left: 5%;
  }
  .main-nav .burger {
    display: none;
  }
  .main-nav .main-nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: transparent;
    position: absolute;
    width: 65%;
    top: 0;
    left: 30%;
    height: 15vh;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    overflow: hidden;
  }
  .main-nav .main-nav-ul li {
    list-style-type: none;
    text-align: center;
    height: 15vh;
  }
  .main-nav .main-nav-ul li a {
    height: auto;
    line-height: 15vh;
    font-size: 17px;
    margin: 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    color: #286152;
    border-bottom: none;
    font-weight: bold;
  }
  .main-nav .main-nav-ul li a:active, .main-nav .main-nav-ul li a:hover {
    color: #110b11;
    background-color: transparent;
    cursor: pointer;
  }
  .main-header {
    height: 90vh;
  }
}

article.why-us {
  font-size: 16px;
  padding: 1em;
}

article.why-us > p:nth-child(3) {
  font-weight: 500;
  padding-bottom: 1em;
  line-height: 1.5em;
  color: #666;
}

article.why-us > p:nth-child(4),
article.why-us > p:nth-child(5) {
  font-weight: normal;
  line-height: 1.5em;
  padding-bottom: 1em;
  color: #666;
}

@media (orientation: landscape) {
  article.why-us p {
    font-size: .7em;
  }
}

.percent-bars {
  width: 100%;
}

.percent-bars .percent-bar {
  width: 75%;
  height: 80px;
  margin: 5px auto;
}

.percent-bars .percent-bar p {
  text-transform: uppercase;
  font-size: .8em;
  padding: 5px;
}

.percent-bars .percent-bar .whole-bar {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  position: relative;
}

.percent-bars .percent-bar .whole-bar .percent-value {
  height: inherit;
  background-color: #286152;
}

.percent-bars .percent-bar .whole-bar .percent-nr {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #286152;
  text-align: center;
  font-size: 10px;
  line-height: 35px;
  color: white;
}

.firstbar .percent-value {
  width: 85%;
}

.firstbar .percent-nr {
  left: 85%;
}

.secondbar .percent-value {
  width: 100%;
}

.secondbar .percent-nr {
  left: 100%;
}

.thirdbar .percent-value {
  width: 75%;
}

.thirdbar .percent-nr {
  left: 75%;
}

.forthbar .percent-value {
  width: 60%;
}

.forthbar .percent-nr {
  left: 60%;
}

@media (min-width: 768px) {
  article.why-us p {
    font-size: 1em;
    padding: 2em;
  }
}

.our-services {
  padding: 1em;
}

.our-services .our-services-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.our-services .our-services-wrapper .our-service:nth-of-type(1) i,
.our-services .our-services-wrapper .our-service:nth-of-type(2) i {
  font-size: 3em;
}

.our-services .our-services-wrapper .our-service {
  width: 90%;
  height: 120px;
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.our-services .our-services-wrapper .our-service i {
  font-size: 2.5em;
  background: -webkit-linear-gradient(#286152, #110b11);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  text-align: center;
  margin: 5px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.our-services .our-services-wrapper .our-service i:active, .our-services .our-services-wrapper .our-service i:hover {
  -webkit-transform: rotateX(360deg);
          transform: rotateX(360deg);
}

.our-services .our-services-wrapper .our-service div {
  margin: 15px;
}

.our-services .our-services-wrapper .our-service div h3 {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 1px;
  padding: 1em 0 .5em 1.5em;
}

.our-services .our-services-wrapper .our-service div p {
  font-size: .9em;
  color: #666;
  line-height: 1.4;
}

@media (max-width: 767px) and (orientation: landscape) {
  .our-services .our-service:nth-of-type(1) i,
  .our-services .our-service:nth-of-type(2) i {
    font-size: 2.5em;
  }
  .our-services .our-service i {
    padding-left: 70px;
    font-size: 2em;
  }
  .our-services .our-service p {
    padding-right: 70px;
  }
}

@media (min-width: 768px) {
  .our-services .our-services-wrapper {
    height: 50vh;
  }
  .our-services .our-services-wrapper .our-service {
    width: 33%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.our-work {
  background-color: #eee;
  overflow: hidden;
  padding-bottom: 50px;
  padding-top: 30px;
}

.our-work .our-work-options {
  margin: 0 auto;
  width: 95%;
}

.our-work .our-work-options ul {
  min-height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.our-work .our-work-options ul li {
  list-style: none;
  padding: 5px;
}

.our-work .our-work-options ul li a {
  display: block;
  padding: 10px 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #666;
  background-color: #fff;
  border: 1px solid #dddddd;
}

.our-work .our-work-img-container {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.our-work .our-work-img-container .our-work-single-img {
  position: relative;
  overflow: hidden;
  width: 90%;
  margin: 20px auto;
}

.our-work .our-work-img-container .our-work-single-img > * {
  -webkit-transition: 1s;
  transition: 1s;
}

.our-work .our-work-img-container .our-work-single-img .wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0);
}

.our-work .our-work-img-container .our-work-single-img .wrap:hover ~ button, .our-work .our-work-img-container .our-work-single-img .wrap:active ~ button {
  opacity: 1;
}

.our-work .our-work-img-container .our-work-single-img .wrap:hover ~ .animation-feature, .our-work .our-work-img-container .our-work-single-img .wrap:active ~ .animation-feature {
  left: -150%;
}

.our-work .our-work-img-container .our-work-single-img .wrap:hover ~ .img-title, .our-work .our-work-img-container .our-work-single-img .wrap:hover ~ .img-desc, .our-work .our-work-img-container .our-work-single-img .wrap:active ~ .img-title, .our-work .our-work-img-container .our-work-single-img .wrap:active ~ .img-desc {
  left: 50%;
}

.our-work .our-work-img-container .our-work-single-img .wrap:hover ~ img, .our-work .our-work-img-container .our-work-single-img .wrap:active ~ img, .our-work .our-work-img-container .our-work-single-img .wrap:target {
  -webkit-filter: brightness(25%);
          filter: brightness(25%);
  -webkit-transition: .5s;
  transition: .5s;
}

.our-work .our-work-img-container .our-work-single-img img {
  display: block;
  width: 100%;
}

.our-work .our-work-img-container .our-work-single-img button {
  position: absolute;
  top: 7%;
  right: 12%;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  background-color: #286152;
  color: white;
  font-size: 1.3em;
  text-align: center;
  opacity: 0;
}

.our-work .our-work-img-container .our-work-single-img .img-title {
  position: absolute;
  top: 30%;
  left: -50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.2em;
}

.our-work .our-work-img-container .our-work-single-img .img-desc {
  position: absolute;
  top: 50%;
  left: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: capitalize;
  color: white;
  opacity: 1;
}

.our-work .our-work-img-container .our-work-single-img .animation-feature {
  position: absolute;
  top: 0;
  left: 135%;
  width: 70%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border: 3px solid #286152;
  -webkit-transform: skew(35deg);
          transform: skew(35deg);
}

@media (orientation: landscape) {
  .our-work .our-work-options {
    width: 60%;
  }
  .our-work .our-work-img-container .our-work-single-img {
    width: 48%;
  }
}

@media (min-width: 768px) {
  .our-work .our-work-img-container {
    width: 90%;
  }
  .our-work .our-work-img-container .our-work-single-img {
    width: 30%;
    height: 30vh;
  }
  .our-work .our-work-img-container .our-work-single-img img {
    height: 100%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

section.contact-us {
  min-height: 30vh;
  background-color: #286152;
  color: white;
  text-align: center;
  padding-bottom: 2em;
}

section.contact-us h1 {
  text-transform: capitalize;
  font-size: 2em;
  padding: 1em 0 0.5em;
  line-height: 1.3;
}

section.contact-us p {
  line-height: 2;
  padding: 0 .5em 1em .5em;
}

section.contact-us button {
  padding: 1em 1.5em;
  font-size: 1em;
  letter-spacing: 1px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  text-transform: capitalize;
  border-radius: 30px;
  margin: 0 auto 0 auto;
  cursor: pointer;
}

section.contact-us button:focus,
section.contact-us button:hover {
  background-color: #fff;
  color: #286152;
}

.stuff-container {
  width: 90%;
  margin: 20px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.stuff-container .single-employee {
  margin: 0 auto 40px;
  height: 60vh;
  width: 90%;
  background-color: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: url(../img/ourteam-1.jpg);
  background-size: cover;
  position: relative;
}

.stuff-container .single-employee:nth-child(2) {
  background-image: url(../img/ourteam-2.jpg);
}

.stuff-container .single-employee:nth-child(3) {
  background-image: url(../img/ourteam-3.jpg);
}

.stuff-container .single-employee:nth-child(4) {
  background-image: url(../img/ourteam-4.jpg);
}

.stuff-container .single-employee .wrap {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
}

.stuff-container .single-employee .wrap:hover ~ .emp-name {
  height: 100px;
}

.stuff-container .single-employee .wrap:hover ~ .emp-position {
  opacity: 1;
  bottom: 25px;
}

.stuff-container .single-employee .wrap:hover ~ .emp-socials {
  opacity: 1;
  margin-bottom: 0;
}

.stuff-container .single-employee .emp-name {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 70px;
  background-color: #286152;
  text-align: center;
  line-height: 70px;
  font-size: 1.1em;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.stuff-container .single-employee .emp-position {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: white;
  text-align: center;
  font-size: 0.9em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}

.stuff-container .single-employee .emp-socials {
  position: absolute;
  left: 25%;
  right: 25%;
  bottom: -20px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  margin-bottom: 20px;
}

.stuff-container .single-employee .emp-socials .emp-social {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: white;
  color: #286152;
  -webkit-box-shadow: 1px 2px #eee;
          box-shadow: 1px 2px #eee;
}

.stuff-container .single-employee .emp-socials .emp-social i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 15px;
}

@media (orientation: landscape) {
  .stuff-container {
    width: 95%;
  }
  .stuff-container .single-employee {
    width: 48%;
    height: 80vh;
    margin: 0 auto 40px;
  }
  .stuff-container .single-employee .emp-socials {
    left: 20%;
    right: 20%;
  }
}

@media (min-width: 768px) {
  .stuff-container {
    width: 95%;
  }
  .stuff-container .single-employee {
    width: 40%;
    height: 60vh;
    margin: 0 auto 40px;
    background-position: center;
  }
  .stuff-container .single-employee .emp-socials {
    left: 15%;
    right: 15%;
  }
}

@media (min-width: 1100px) {
  .stuff-container .single-employee {
    width: 20%;
  }
}

.client-logos {
  height: 30vh;
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow-x: hidden;
}

.client-logos img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  padding: 0 100px;
  -webkit-animation: moveYourAss 120s linear infinite both;
          animation: moveYourAss 120s linear infinite both;
}

@media (orientation: landscape) {
  .client-logos {
    height: 40vh;
  }
}

@media (min-width: 768px) {
  .client-logos {
    height: 25vh;
    margin: 70px 0;
  }
}

@-webkit-keyframes moveYourAss {
  0% {
    left: 0;
  }
  50% {
    left: -150%;
  }
  100% {
    left: 0;
  }
}

@keyframes moveYourAss {
  0% {
    left: 0;
  }
  50% {
    left: -150%;
  }
  100% {
    left: 0;
  }
}

.our-pricing .offers-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-pricing .offers-container .offer {
  margin: 50px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.our-pricing .offers-container .offer .decoration-line {
  position: absolute;
  width: 80%;
  height: 4px;
  background-color: #286152;
  top: -4px;
  left: 10%;
}

.our-pricing .offers-container .offer .offer-name {
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 900;
  padding: 20px;
  color: #333;
}

.our-pricing .offers-container .offer .offer-desc {
  font-size: 1em;
  color: #888;
  padding: 10px 20px;
}

.our-pricing .offers-container .offer .offer-price {
  font-size: 3em;
  letter-spacing: 3px;
  padding: 10px;
  padding-bottom: 20px;
  color: #333;
}

.our-pricing .offers-container .offer .offer-price span {
  font-weight: bolder;
  font-size: .5em;
  letter-spacing: normal;
  color: #333;
}

.our-pricing .offers-container .offer ul.offer-features {
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.our-pricing .offers-container .offer ul.offer-features li {
  width: 100%;
  list-style: none;
  border-top: 1px solid #ddd;
  text-align: center;
  color: #555;
}

.our-pricing .offers-container .offer ul.offer-features li p {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  font-size: .9em;
  padding: 10px 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.our-pricing .offers-container .offer ul.offer-features li p:hover, .our-pricing .offers-container .offer ul.offer-features li p:focus {
  left: 10px;
}

.our-pricing .offers-container .offer ul.offer-features li p span {
  font-weight: 900;
  color: #333;
  padding: 0 2px;
}

.our-pricing .offers-container .offer ul.offer-features li i {
  color: #286152;
}

.our-pricing .offers-container .offer ul.offer-features li:last-child {
  border-bottom: 1px solid #ddd;
}

.our-pricing .offers-container .offer .confirm-offer {
  margin: 20px 0;
  padding: 15px 30px;
  border-radius: 30px;
  text-transform: capitalize;
  background-color: #fff;
  border: 1px solid #286152;
  color: #286152;
  font-weight: 100;
  cursor: pointer;
}

.our-pricing .offers-container .offer .confirm-offer:hover {
  background-color: #286152;
  color: white;
}

@media (min-width: 768px) {
  .our-pricing {
    margin-bottom: 70px;
  }
}

.our-records {
  width: 100%;
  height: 90vh;
  background-image: url(../img/our-records.jpg);
  background-size: cover;
}

.our-records .records-wrapper {
  width: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.our-records .records-wrapper .record {
  margin: 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-records .records-wrapper .record i {
  background: -webkit-linear-gradient(#286152 30%, #110b11);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
}

.our-records .records-wrapper .record span.record-number {
  font-size: 2em;
  color: white;
}

.our-records .records-wrapper .record span.record-desc {
  font-size: 1em;
  color: white;
}

@media (orientation: landscape) {
  .our-records {
    height: 80vh;
  }
  .our-records .records-wrapper {
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  .our-records .records-wrapper .record {
    width: 25%;
    height: 35%;
  }
  .our-records .records-wrapper .record i {
    font-size: 300%;
  }
  .our-records .records-wrapper .record span.record-number {
    font-size: 1.5rem;
  }
  .our-records .records-wrapper .record span.record-desc {
    font-size: .9rem;
  }
}

@media (min-width: 768px) {
  .our-records {
    height: 30vh;
  }
  .our-records .records-wrapper .record {
    width: 20%;
    height: 50%;
    margin: auto;
  }
}

.our-testimonial {
  background-color: #eee;
  padding-bottom: 50px;
  padding-top: 10px;
}

.our-testimonial .references-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-testimonial .references-wrapper .single-refer {
  width: 70%;
  min-height: 50vh;
  position: relative;
  top: auto;
  left: auto;
  background-color: #fff;
  border-top: 2px solid #286152;
  margin: 50px auto;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-testimonial .references-wrapper .single-refer .text-refer {
  width: 90%;
  margin: 0 auto;
  font-size: 1em;
  line-height: 150%;
  color: #666;
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.our-testimonial .references-wrapper .single-refer .client-name {
  width: 90%;
  margin: 0 auto;
  text-transform: uppercase;
  color: #286152;
  letter-spacing: 1px;
  font-weight: bolder;
  padding: 10px;
}

.our-testimonial .references-wrapper .single-refer .client-position {
  width: 90%;
  margin: 0 auto;
  font-size: .9em;
  color: #666;
  padding: 0 10px 25px;
  text-transform: capitalize;
}

.our-testimonial .references-wrapper .single-refer img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  bottom: -30px;
  right: 25px;
}

@media (orientation: landscape) {
  .our-testimonial .references-wrapper {
    width: 90%;
    margin: 0 auto;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .our-testimonial .references-wrapper .single-refer {
    width: 48%;
    min-height: 72vh;
    margin: 40px 0;
  }
  .our-testimonial .references-wrapper .single-refer .text-refer {
    font-size: 90%;
  }
}

@media (min-width: 768px) {
  .our-testimonial {
    padding-bottom: 70px;
  }
  .our-testimonial .references-wrapper .single-refer {
    width: 30%;
    min-height: 40vh;
  }
}

.latest-blog {
  background-color: #fff;
}

.latest-blog .blogs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.latest-blog .blogs-wrapper .blog {
  position: relative;
  width: 300px;
  background-color: white;
  margin-bottom: 30px;
}

.latest-blog .blogs-wrapper .blog img {
  width: 100%;
}

.latest-blog .blogs-wrapper .blog button {
  display: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #286152;
  text-align: center;
  line-height: 20px;
  border: none;
  color: white;
  position: absolute;
  top: 30%;
  left: 50%;
}

.latest-blog .blogs-wrapper .blog .blog-info {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 220px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 2px 2px 2px #ddd, -2px 2px 3px #ddd;
          box-shadow: 2px 2px 2px #ddd, -2px 2px 3px #ddd;
}

.latest-blog .blogs-wrapper .blog .blog-info .blog-title {
  font-size: 1.2em;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: bold;
}

.latest-blog .blogs-wrapper .blog .blog-info .blog-details {
  color: #666666;
  text-transform: uppercase;
  position: relative;
}

.latest-blog .blogs-wrapper .blog .blog-info .blog-details::after {
  content: '';
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #286152;
}

.latest-blog .blogs-wrapper .blog .blog-info .blog-intro {
  padding-top: 15px;
  color: #666;
  line-height: 1.2em;
}

.latest-blog .blogs-wrapper .blog .blog-info i {
  color: #286152;
}

@media (orientation: landscape) {
  .latest-blog .blogs-wrapper .blog {
    width: 40%;
  }
  .latest-blog .blogs-wrapper .blog img {
    width: 100%;
  }
  .latest-blog .blogs-wrapper .blog .blog-info {
    height: 150px;
  }
  .latest-blog .blogs-wrapper .blog .blog-info .blog-title {
    font-size: 90%;
  }
  .latest-blog .blogs-wrapper .blog .blog-info .blog-details {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-top: 10px;
  }
  .latest-blog .blogs-wrapper .blog .blog-info > * {
    font-size: 90%;
  }
  .latest-blog .blogs-wrapper .blog .blog-info .blog-intro {
    padding-top: 10px;
  }
}

@media (min-width: 768px) {
  .latest-blog {
    padding-bottom: 100px;
  }
  .latest-blog .blogs-wrapper .blog {
    width: 30%;
    height: 50vh;
  }
  .latest-blog .blogs-wrapper .blog .img-holder {
    height: 180px;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .latest-blog .blogs-wrapper .blog .img-holder img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .latest-blog .blogs-wrapper .blog .blog-info {
    height: 250px;
    padding-top: 20px;
  }
  .latest-blog .blogs-wrapper .blog .blog-info .blog-details {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .latest-blog .blogs-wrapper .blog .blog-info::after {
    top: 160px;
  }
  .latest-blog .blogs-wrapper .blog .blog-info .blog-intro {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    line-height: 2;
  }
}

.newsletter {
  min-height: 30vh;
  background-color: #286152;
  color: white;
  text-align: center;
  padding-bottom: 2em;
}

.newsletter h1 {
  text-transform: capitalize;
  font-size: 2em;
  text-align: center;
  padding: 1em;
  padding-bottom: .5em;
  line-height: 1.3;
}

.newsletter p {
  line-height: 1.5;
  padding: 0 1em 1em;
}

.newsletter input {
  padding: .5em 1em;
  font-size: 1em;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  -webkit-transition: .1s;
  transition: .1s;
  margin-top: 20px;
  border-radius: 0;
  width: 85%;
}

.newsletter input::-webkit-input-placeholder {
  color: white;
}

.newsletter input:-ms-input-placeholder {
  color: white;
}

.newsletter input::-ms-input-placeholder {
  color: white;
}

.newsletter input::placeholder {
  color: white;
}

.newsletter button.sub {
  font-size: 1em;
  letter-spacing: 1px;
  border: 2px solid #286152;
  -webkit-transition: .1s;
  transition: .1s;
  padding: .5em 1em;
  width: 30%;
  display: block;
  margin: 30px auto 0;
  background-color: #fff;
  color: #286152;
  text-align: center;
}

.newsletter button.sub:hover, .newsletter button.sub:focus {
  background-color: #286152;
  color: white;
}

@media (orientation: landscape) {
  .newsletter button.sub {
    width: 20%;
  }
}

@media (min-width: 768px) {
  .newsletter input {
    width: 30%;
  }
  .newsletter button.sub {
    width: 120px;
    text-align: center;
    padding: auto;
  }
}

.data-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.data-contact .contact-form {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data-contact .contact-form input {
  width: 90%;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #aaaaaa;
  padding: .7em;
}

.data-contact .contact-form input::-webkit-input-placeholder {
  font-size: 1.1em;
  padding-bottom: 0.7em;
}

.data-contact .contact-form input:-ms-input-placeholder {
  font-size: 1.1em;
  padding-bottom: 0.7em;
}

.data-contact .contact-form input::-ms-input-placeholder {
  font-size: 1.1em;
  padding-bottom: 0.7em;
}

.data-contact .contact-form input::placeholder {
  font-size: 1.1em;
  padding-bottom: 0.7em;
}

.data-contact .contact-form input:nth-last-of-type(1) {
  padding-bottom: 50px;
}

.data-contact .contact-form .send-msg {
  padding: 1.2em 2em;
  border: 1px solid #286152;
  background-color: #fff;
  color: #286152;
  letter-spacing: 1px;
  border-radius: 35px;
  margin: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.data-contact .contact-form .send-msg:hover, .data-contact .contact-form .send-msg:focus {
  color: #ffffff;
  background-color: #286152;
}

.data-contact .contact-info {
  margin: 40px auto 0;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.data-contact .contact-info p {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data-contact .contact-info p span:nth-child(1) {
  padding: 10px;
  text-align: right;
}

.data-contact .contact-info p span:nth-child(1) i {
  font-size: 2em;
  color: #286152;
}

.data-contact .contact-info p span:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  padding: 10px;
  color: #666;
}

@media (orientation: landscape) {
  .data-contact .contact-info {
    width: 90%;
  }
  .data-contact .contact-info p span:nth-child(1) {
    -ms-flex-preferred-size: 120px;
        flex-basis: 120px;
  }
}

@media (min-width: 768px) {
  .data-contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .data-contact .contact-form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .data-contact .contact-form input:nth-child(1), .data-contact .contact-form input:nth-child(2), .data-contact .contact-form input:nth-child(3) {
    width: 25%;
    margin: 0 20px;
  }
  .data-contact .contact-info p {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 70%;
    margin: 0 auto;
  }
  .data-contact .contact-info p span:nth-child(2) {
    display: block;
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

.google-maps {
  height: 50vh;
  width: 100%;
}

.google-maps iframe {
  height: 100%;
  width: 100%;
}

footer {
  height: 30vh;
}

footer div {
  height: 50%;
  position: relative;
}

footer div p {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 1.2em;
  text-align: center;
  padding: 5px;
  color: #666;
}

footer div .media-wrap {
  top: 25%;
  left: 0;
}

footer div span {
  display: inline-block;
  color: #286152;
  font-size: 2em;
  padding: 0 5px;
  -webkit-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
}

footer div span:hover, footer div span:focus {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
/*# sourceMappingURL=style.css.map */