.client-logos
    height: 30vh
    background-color: #ccc
    display: flex
    align-items: center
    position: relative
    overflow-x: hidden
    img
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: 0
        right: 0
        padding: 0 100px
        animation: moveYourAss 120s linear infinite both
@media (orientation: landscape)
    .client-logos
        height: 40vh
@media (min-width: 768px)
    .client-logos
        height: 25vh
        margin: 70px 0
@keyframes moveYourAss
    0%
        left: 0
    50%
        left: -150%
    100%
        left: 0
