.newsletter {
    min-height: 30vh;
    background-color: $themecolor;
    color: white;
    text-align: center;
    padding-bottom: 2em;

    h1 {
        text-transform: capitalize;
        font-size: 2em;
        text-align: center;
        padding: 1em;
        padding-bottom: .5em;
        line-height: 1.3;
    }

    p {
        line-height: 1.5;
        padding: 0 1em 1em;
    }

    input {
        padding: .5em 1em;
        font-size: 1em;
        // letter-spacing: 1px;
        background-color: transparent;
        border: 2px solid white;
        color: white;
        transition: .1s;
        margin-top: 20px;
        border-radius: 0;
        width: 85%;
    }

    input::placeholder {
        color: white;
    }

    button.sub {

        font-size: 1em;
        letter-spacing: 1px;
        border: 2px solid $themecolor;
        transition: .1s;
        padding: .5em 1em;
        width: 30%;
        display: block;
        margin: 30px auto 0;
        background-color: #fff;
        color: $themecolor;
        text-align: center;

        &:hover,
        &:focus {
            background-color: $themecolor;
            color: white;
        }
    }
}

@media (orientation: landscape) {
    .newsletter {
        button.sub {
            width: 20%;
        }
    }
}

@media (min-width: 768px) {
    .newsletter {
        input {
            width: 30%
        }

        button.sub {
            width: 120px;
            text-align: center;
            padding: auto
        }
    }
}