.latest-blog
    background-color: #fff
    .blogs-wrapper
        display: flex
        justify-content: space-around
        align-items: center
        flex-wrap: wrap
        // background-color: #eee
        .blog
            position: relative
            width: 300px
            background-color: white
            // padding: 10px
            margin-bottom: 30px //do wywalenia
            img
                width: 100%

            button
                display: none
                height: 20px
                width: 20px
                border-radius: 50%
                background-color: $themecolor
                text-align: center
                line-height: 20px
                border: none
                color: white
                position: absolute
                top: 30%
                left: 50%
            .blog-info
                padding: 10px
                // background-color: rgba(0, 0, 0, 0.5)
                display: flex
                flex-direction: column
                height: 220px
                justify-content: space-around
                box-shadow: 2px 2px 2px #ddd, -2px 2px 3px #ddd
                // align-items: center
                .blog-title
                    font-size: 1.2em
                    text-transform: capitalize
                    letter-spacing: 1px
                    font-weight: bold

                .blog-details
                    color: #666666
                    text-transform: uppercase
                    position: relative
                    &::after
                        content: ''
                        position: absolute
                        top: 30px
                        left: 0
                        right: 0
                        height: 1px
                        background-color: $themecolor
                .blog-intro

                    padding-top: 15px
                    color: #666
                    line-height: 1.2em
                i
                    color: $themecolor
@media (orientation: landscape)
    .latest-blog
        .blogs-wrapper
            .blog
                width: 40%
                img
                    width: 100%
                .blog-info
                    height: 150px
                    .blog-title
                        font-size: 90%
                    .blog-details
                        flex-grow: 1
                        padding-top: 10px
                    &>*
                        font-size: 90%
                    .blog-intro
                        padding-top: 10px
@media (min-width: 768px)
    .latest-blog
        padding-bottom: 100px
        .blogs-wrapper
            .blog
                width: 30%
                height: 50vh

                .img-holder
                    height: 180px
                    width: 100%
                    overflow: hidden
                    position: relative
                    img
                        height: 100%
                        width: 100%
                        position: absolute
                        top: 50%
                        left: 50%
                        transform: translate(-50%, -50%)

                .blog-info
                    height: 250px
                    padding-top: 20px
                    .blog-details
                        flex-grow: 1
                    &::after
                        top: 160px
                    .blog-intro
                        flex-grow: 2
                        line-height: 2
