.our-work
    background-color: #eee
    overflow: hidden
    padding-bottom: 50px
    padding-top: 30px
    .our-work-options
        margin: 0 auto
        width: 95%
        ul
            min-height: 15vh
            display: flex
            flex-wrap: wrap
            justify-content: space-around
            align-content: space-around

            li
                list-style: none
                padding: 5px

                a
                    display: block
                    padding: 10px 12px
                    text-decoration: none
                    text-transform: uppercase
                    color: #666
                    background-color: #fff
                    border: 1px solid #dddddd
    .our-work-img-container
        width: 95%
        margin: 0 auto
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        align-items: center
        align-content: space-around
        .our-work-single-img
            position: relative
            overflow: hidden
            width: 90%
            margin: 20px auto

            &>*
                transition: 1s
            .wrap
                position: absolute
                top: 0
                left: 0
                height: 100%
                width: 100%
                z-index: 4
                background-color: rgba(0, 0, 0, 0)
                &:hover~button, &:active~button
                    opacity: 1
                &:hover~.animation-feature, &:active~.animation-feature
                    left: -150%
                &:hover~.img-title, &:hover~.img-desc, &:active~.img-title, &:active~.img-desc
                    left: 50%
                &:hover~img, &:active~img, &:target

                    filter: brightness(25%)
                    transition: .5s

            img
                display: block
                width: 100%

            button
                position: absolute
                top: 7%
                right: 12%
                height: 30px
                width: 30px
                border-radius: 50%
                border: none
                background-color: $themecolor
                color: white
                // z-index: 3
                font-size: 1.3em
                text-align: center
                opacity: 0
            .img-title
                position: absolute
                top: 30%
                left: -50%
                transform: translateX(-50%)
                text-align: center
                // padding-top: 20%
                color: white
                font-weight: 900
                text-transform: uppercase
                // width: 100%
                font-size: 1.2em
                // z-index: 2
            .img-desc
                position: absolute
                top: 50%
                left: -50%
                transform: translate(-50%, -50%)
                text-transform: capitalize
                color: white
                // z-index: 2
                opacity: 1
            .animation-feature
                position: absolute
                top: 0
                left: 135%
                width: 70%
                height: 100%
                background-color: rgba(0, 0, 0, 0.8)
                // z-index: 1
                border: 3px solid $themecolor
                transform: skew(35deg)

// .bright
//     filter: brightness(50%)
// .opacities
//     opacity: 1 !important
// .left0
//     left: 0 !important
// .left130
//     left: -130% !important
@media (orientation: landscape)
    .our-work
        .our-work-options
            width: 60%
        .our-work-img-container
            .our-work-single-img
                width: 48%
@media (min-width: 768px)
    .our-work
        .our-work-img-container
            width: 90%
            .our-work-single-img
                width: 30%
                height: 30vh
                img
                    height: 100%
                    width: auto
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)
