.stuff-container {
    width: 90%;
    margin: 20px auto 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .single-employee {
        margin: 0 auto 40px;
        height: 60vh;
        width: 90%;
        background-color: green;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-image: url(../img/ourteam-1.jpg);
        background-size: cover;
        position: relative;

        &:nth-child(2) {
            background-image: url(../img/ourteam-2.jpg);
        }

        &:nth-child(3) {
            background-image: url(../img/ourteam-3.jpg);
        }

        &:nth-child(4) {
            background-image: url(../img/ourteam-4.jpg);
        }

        .wrap {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0);
            z-index: 2;

            &:hover~.emp-name {
                height: 100px;
            }

            &:hover~.emp-position {
                opacity: 1;
                bottom: 25px;
            }

            &:hover~.emp-socials {
                opacity: 1;
                margin-bottom: 0;
            }
        }

        .emp-name {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            height: 70px;
            background-color: $themecolor;
            text-align: center;
            line-height: 70px;
            font-size: 1.1em;
            color: white;
            transition: 0.4s;
        }

        .emp-position {
            transition: 0.4s;
            color: white;
            // z-index: 1;
            text-align: center;
            font-size: 0.9em;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0px;
            transition: .3s;
            opacity: 0;
        }

        .emp-socials {
            position: absolute;
            left: 25%;
            right: 25%;
            bottom: -20px;
            height: 40px;
            // background-color: blue;
            display: flex;
            justify-content: space-around;
            align-items: center;
            transition: 0.4s;
            opacity: 0;
            margin-bottom: 20px;


            .emp-social {
                position: relative;
                display: block;
                width: 30px;
                height: 30px;
                text-align: center;
                // line-height: 20px;
                border-radius: 50%;
                background-color: white;
                color: $themecolor;
                // border: .1px solid $themecolor;
                box-shadow: 1px 2px #eee;


                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 15px;
                }
            }
        }
    }
}


@media (orientation: landscape) {
    .stuff-container {
        width: 95%;

        .single-employee {
            width: 48%;
            height: 80vh;
            margin: 0 auto 40px;

            .emp-socials {
                left: 20%;
                right: 20%;
            }
        }
    }
}

@media (min-width: 768px) {
    .stuff-container {
        width: 95%;

        .single-employee {
            width: 40%;
            height: 60vh;
            margin: 0 auto 40px;
            background-position: center;

            .emp-socials {
                left: 15%;
                right: 15%;
            }
        }
    }
}

@media (min-width: 1100px) {
    .stuff-container {
        .single-employee {
            width: 20%;
        }
    }
}