article.why-us {
    font-size: 16px;
    padding: 1em;

    &>p:nth-child(3) {
        font-weight: 500;
        padding-bottom: 1em;
        line-height: 1.5em;
    }

    &>p:nth-child(4),
    &>p:nth-child(5) {
        font-weight: normal;
        line-height: 1.5em;
        padding-bottom: 1em;
        color: #666;
    }
}

.percent-bars {
    width: 100%;

    .percent-bar {
        width: 75%;
        height: 80px;
        margin: 5px auto;

        p {
            text-transform: uppercase;
            font-size: .8em;
            padding: 5px;
        }

        .whole-bar {
            width: 100%;
            height: 10px;
            background-color: #ddd;
            position: relative;

            .percent-value {
                height: inherit;
                background-color: $themecolor;
            }

            .percent-nr {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                position: absolute;
                top: 25%;
                transform: translate(-50%, -50%);
                background-color: $themecolor;
                text-align: center;
                font-size: 10px;
                line-height: 35px;
                color: white;
            }

        }
    }
}

.firstbar {
    .percent-value {
        width: 85%
    }

    .percent-nr {
        left: 85%
    }
}

.secondbar {
    .percent-value {
        width: 100%
    }

    .percent-nr {
        left: 100%
    }
}

.thirdbar {
    .percent-value {
        width: 75%
    }

    .percent-nr {
        left: 75%
    }
}

.forthbar {
    .percent-value {
        width: 60%
    }

    .percent-nr {
        left: 60%
    }
}